<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta charset="utf-8">
    <style>
        #envrio {
            position: absolute;
            left: 256px;
        }
    </style>
</head>

<body>
    <div id="app">
        <v-app id="inspire">
            <v-card height="100%">
                <v-navigation-drawer absolute permanent left width="256px">
                    <template v-slot:prepend>
                        <v-list-item two-line>
                            <v-list-item-content>
                                <v-list-item-title>Title</v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>
                    </template>

                    <v-divider></v-divider>

                    <v-list>
                        <v-list-item v-for="item in items" :key="item.title" @click="test">
                            <v-list-item-icon>
                                <v-icon>{{ item.icon }}</v-icon>
                            </v-list-item-icon>

                            <v-list-item-content>
                                <v-list-item-title>{{ item.title }}</v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>
                    </v-list>
                </v-navigation-drawer>
                <canvas id="envrio"></canvas>
                <v-navigation-drawer absolute permanent right width="320px">
                    <template v-slot:prepend>
                        <v-list-item two-line>
                            <v-list-item-content>
                                <v-list-item-title>Edit Area</v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>
                    </template>

                    <v-divider></v-divider>
                    <v-list-item>
                        <v-list-item-content>
                            <v-btn class="mb-4" block :loading="loading" :disabled="loading"
                                @click="loader = 'loading'">
                                New Object
                            </v-btn>

                            <v-btn class="mb-4" block :loading="loading" :disabled="loading" color="secondary"
                                @click="img_profile.dialog = true">
                                Select Image
                            </v-btn>
                            <v-text-field v-model="object.name" label="Name" outlined clearable hide-details>
                            </v-text-field>
                            <v-row class="mt-1">
                                <v-col>
                                    <v-text-field v-model=" object.position.x" label="Position-X" dense outlined
                                        hide-details>
                                    </v-text-field>
                                </v-col>
                                <v-col>
                                    <v-text-field v-model="object.position.y" label="Position-Y" dense outlined
                                        hide-details>
                                    </v-text-field>
                                </v-col>
                            </v-row>

                            <v-slider class="mb-4 mt-2" class="align-center" v-model="object.scale" :max="20"
                                :min="0.0001" step="0.0001" prepend-icon="aspect_ratio" hide-details>
                                <template v-slot:append>
                                    <v-text-field v-model="object.scale" class="mt-0 pt-0" hide-details single-line
                                        type="number" style="width: 60px"></v-text-field>
                                </template>
                            </v-slider>

                            <v-slider class="mt-0 pa-0" v-model="object.degree" min="0" max="360"
                                prepend-icon="rotate_90_degrees_ccw" hide-details>
                                <template v-slot:append>
                                    <v-text-field v-model="object.degree" class="mt-0 pt-0" hide-details single-line
                                        type="number" style="width: 60px"></v-text-field>
                                </template>
                            </v-slider>

                            <!-- <v-file-input class="mb-6 mt-4" label="Image File" dense outlined hide-details
                                v-model="object.imagefile">
                            </v-file-input> -->

                            <v-row no-gutters class="mb-4 mt-4">
                                <v-col class="mr-2" cols="12" sm="5">
                                    <v-select v-model="audio_type" :items="audio_type_arr" label="Audio type" dense
                                        outlined hide-details>
                                    </v-select>
                                </v-col>
                                <v-col class="mr-0" cols="12" sm="5">
                                    <v-select v-model="object.audio" :items="audioName" item-text="name"
                                        label="Audio name" dense outlined hide-detail return-object>
                                    </v-select>
                                </v-col>
                                <v-col cols="12" sm="1">
                                    <v-btn icon @click="playAudio">
                                        <v-icon>volume_up</v-icon>
                                    </v-btn>
                                </v-col>
                            </v-row>

                        </v-list-item-content>
                    </v-list-item>
                    <v-footer absolute padless color="rgba(0, 0, 0, 0)" class="font-weight-medium">
                        <v-list-item>
                            <v-list-item-content>
                                <v-row>
                                    <v-col class="pt-0 pb-0">
                                        <v-btn block :loading="loading" :disabled="loading" color="secondary"
                                            @click="loader = 'loading'">
                                            Save
                                        </v-btn>
                                    </v-col>
                                    <v-col class="pt-0 pb-0">
                                        <v-btn block :loading="loading" :disabled="loading" color="error"
                                            @click="loader = 'loading'">
                                            Delete
                                        </v-btn>
                                    </v-col>
                                </v-row>
                    </v-footer>
                    </v-list-item-content>
                    </v-list-item>
                </v-navigation-drawer>
            </v-card>

            <v-dialog v-model="img_profile.dialog" persistent max-width="1000px">
                <v-card>
                    <v-card-title>
                        <span class="headline">Image Gallery</span>
                        <v-spacer></v-spacer>
                        <v-btn icon @click="img_profile.dialog = false">
                            <v-icon color="grey lighten-1">mdi-check</v-icon>
                        </v-btn>
                    </v-card-title>
                    <v-tabs v-model="img_profile.tab" background-color="transparent" color="basil" grow>
                        <v-tab>
                            Colud
                        </v-tab>
                        <v-tab>
                            Import from your computer
                        </v-tab>
                    </v-tabs>

                    <v-tabs-items v-model="img_profile.tab">
                        <v-tab-item>
                            <v-card>
                                <v-container fluid>
                                    <v-row dense>
                                        <v-col v-for="card in 6" :key="card.title" cols="4">
                                            <v-card class="ma-2 pa-0">
                                                <v-img :aspect-ratio="16/9" height="180" width="320"
                                                    src="https://cdn.vuetifyjs.com/images/parallax/material.jpg"
                                                    @click="img_profile.overlay = !img_profile.overlay">
                                                    <v-overlay :absolute="img_profile.absolute"
                                                        :value="img_profile.overlay">
                                                        <v-card-text>Hide Overlay</v-card-text>
                                                    </v-overlay>
                                                </v-img>
                                            </v-card>
                                        </v-col>
                                    </v-row>
                                </v-container>
                            </v-card>
                        </v-tab-item>
                        <v-tab-item>
                            <v-card>
                                <v-file-input v-model="img_profile.files" color="deep-purple accent-4" counter
                                    label="File input" multiple placeholder="Select your files"
                                    prepend-icon="mdi-paperclip" outlined :show-size="1000" @change="onChange($event)">
                                    <template v-slot:selection="{ index, text }">
                                        <v-chip v-if="index < 2" color="deep-purple accent-4" dark label small>
                                            {{ text }}
                                        </v-chip>

                                        <span v-else-if="index === 2" class="overline grey--text text--darken-3 mx-2">
                                            +{{ img_profile.files.length - 2 }} File(s)
                                        </span>
                                    </template>
                                </v-file-input>
                                <v-container fluid>
                                    <v-row dense justify="space-around">
                                        <v-col v-for="item in img_profile.local">
                                            <v-card class="ma-0 pa-0" min-width="150" min-height="150" max-width="150"
                                                max-height="150">
                                                <v-img :aspect-ratio="1" :src="item"
                                                    @click="img_profile.overlay = !img_profile.overlay">
                                                    <v-overlay :absolute="img_profile.absolute"
                                                        :value="img_profile.overlay">
                                                        <v-card-text>Hide Overlay</v-card-text>
                                                    </v-overlay>
                                                </v-img>
                                            </v-card>
                                        </v-col>
                                    </v-row>
                                </v-container>
                            </v-card>
                        </v-tab-item>
                    </v-tabs-items>
                </v-card>
            </v-dialog>
        </v-app>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="./js/axios.min.js"></script>
    <script src="./js/pixi.js"></script>
    <script src="./js/pixi-filters.js"></script>
    <script src="./js/pixi-sound.js"></script>
    <script src="./js/envrio.js"></script>
    <script>
        var editor = new Vue({
            el: '#app',
            vuetify: new Vuetify(),
            data() {
                return {
                    loader: null,
                    loading: false,
                    items: [
                        { title: 'Home', icon: 'mdi-home-city' },
                        { title: 'My Account', icon: 'mdi-account' },
                        { title: 'Users', icon: 'mdi-account-group-outline' },
                    ],
                    audio_data: null,
                    audio_type_arr: [],
                    audio_name_arr: [],
                    audio_type: null,
                    object: {
                        id: null,
                        name: null,
                        scale: null,
                        degree: null,
                        position: { x: null, y: null },
                        imagefile: null,
                        audio: { name: null, category: null },
                        sound_src: null,
                    },
                    img_profile: {
                        dialog: true,
                        absolute: true,
                        overlay: false,
                        files: [],
                        local: [],
                        selected: null,
                    },
                    t: new PIXI.Container(),
                    using_object: [],
                }
            },
            computed: {
                audioName() {
                    var app = this;
                    if (app.audio_type != '全部' && app.audio_type != null) {
                        return app.audio_data.filter(item => {
                            return item.category == app.audio_type;
                        })
                    }
                    else if (app.audio_type != null) {
                        return app.audio_data;
                    }
                }
            },
            methods: {
                test(event) {
                    console.log('click')
                },
                getAudio_type_arr: function (event) {
                    var app = this;
                    app.audio_type_arr.push("全部");
                    app.audio_data.forEach(element => {
                        var tmp_arr = element.category.split(";");
                        tmp_arr.forEach(item => {
                            app.audio_type_arr.push(item);
                        })
                    });
                },
                getAudio_name_arr: function (event) {
                    var app = this;
                    app.audio_name_arr = []
                    app.audio_data.forEach(element => {
                        if (app.object.audio.type == "全部")
                            app.audio_name_arr.push(element.name);
                        else if (element.category.indexOf(app.object.audio.type) != -1) {
                            app.audio_name_arr.push(element.name)
                        }
                    });
                },
                playAudio: function (event) {
                    var app = this;
                    console.log(app.object.audio.audio_id)
                    console.log(app.object.audio.sound_src)
                    PIXI.sound.stopAll();
                    PIXI.sound.add(app.object.audio.audio_id, resources[app.object.audio.sound_src]);
                    PIXI.sound.play(app.object.audio.audio_id);
                },
                onChange: function (event) {
                    console.log(event)
                    console.log(event.length + "A")
                    event.forEach(file => {
                        var reader = new FileReader();

                        var app = this;
                        reader.onload = function (event) {
                            // 文件里的文本会在这里被打印出来
                            console.log(event)
                            app.img_profile.local.push(event.target.result)
                        };
                        reader.readAsDataURL(file);
                    })
                }
            },
            watch: {
                object: {
                    handler(val) {
                        this.t.position.x = this.object.position.x;
                        this.t.position.y = this.object.position.y;
                        this.t.rotation = this.object.degree * (Math.PI / 180);
                        this.t.scale.set(this.object.scale, this.object.scale);

                        // this.getAudio_name_arr();
                        // this.object.audio.name
                        // console.log(object_data);
                        // var app = this;
                        // object_data.forEach(item => {
                        //     if (item.id == app.object.id) {
                        //         // item.audio.category = 
                        //     }
                        // })
                    },
                    deep: true
                },
            },
            created: function () {
                axios.get('./php/test.php', { params: { type: "audio_data" } })
                    .then((res) => {
                        console.log(res.data);
                        this.audio_data = res.data;
                        this.getAudio_type_arr()
                    })
                    .catch((error) => { console.error(error) })
            }
        })
    </script>

    <script src="./js/main.js"></script>
</body>

</html>